<div class="page-header">
  <h3>Surgery Date Detail #<%= @surgery_date_detail.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @surgery_date_detail.user.present? %>
          <a href="/users/<%= @surgery_date_detail.user %>">
            <%= @surgery_date_detail.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Date of surgery</dt>
      <dd><%= @surgery_date_detail.date_of_surgery %></dd>

      <dt>Surgeon</dt>
      <dd><%= @surgery_date_detail.surgeon %></dd>

      <dt>Primary physician</dt>
      <dd><%= @surgery_date_detail.primary_physician %></dd>

      <dt>Location</dt>
      <dd><%= @surgery_date_detail.location %></dd>

      <dt>Type of surgery</dt>
      <dd><%= @surgery_date_detail.type_of_surgery %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/surgery_date_details" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @surgery_date_detail.user %>
        <a href="/surgery_date_details/<%= @surgery_date_detail.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_surgery_date_detail/<%= @surgery_date_detail.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
